@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  z-index: 999;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.aligncenter {
  align-items: center;
}

.space-between {
  justify-content: space-between;
  gap: 30px;
}

.toColumn {
  flex-direction: column;
}

.mCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wm100 {
  width: 100%;
}

.header-menu-mobile {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.header-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.header-menu li a:hover {
  background-color: #555;
  color: #fff;
}

.slider {
  width: 100%;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  margin-top: 70px; /* Hauteur du header */
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.slider-content h1 {
  font-size: 5rem;
  color: #fff;
}

.slider-content p {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  margin-top: 10px;
}

#clock {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.section {
  padding: 100px 0;
}

.section.dark {
  background-color: #333;
  color: #fff;
}

.text-center {
  text-align: center;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
  line-height: 1.6em;
}

ul {
  list-style-type: square;
  margin-left: 20px;
  text-align: left;
}

.skill-category h3,
.education-item h3,
.experience h3 {
  color: black;
}




.skill-category p {
  font-size: 1.2rem;
}

.skills, .education, .experience {
  margin-bottom: 20px;
}

.skill-category {
  margin-bottom: 30px;
}

.skill-category h3 {
  margin-bottom: 10px;
}

.skill-category ul li {
  margin-bottom: 5px;
}

.education-item, .experience {
  margin-bottom: 30px;
}

.realisation {
  background: #555;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.realisation img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(40%);
  transition: filter 0.4s ease;
}

.realisation h3 {
  margin-top: 15px;
  font-size: 1.5rem;
  color: #fff;
}

.realisation p {
  margin-top: 10px;
  color: #fff;
}

.realisation:hover img {
  filter: brightness(70%);
}

.realisation:hover {
  transform: scale(1.02);
}

.contact-info p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.contact-info a {
  color: #fff;
  text-decoration: underline;
}

@media(max-width: 810px){
  header{
    height: 70px;
  }

  .header-menu-mobile {
    display: block;
    border: 0px;
    background-color: #333;
    position: absolute;
    left: 5%;
    top: 10%;
    width: auto;
    z-index: 1001;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
    background-color: #333;
    z-index: 1000;
  }

  .header-menu.active {
    display: flex;
  }

  .slider {
    min-height: 60vh;
  }

  .slider-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    text-wrap: balance;
  }

  .slider-content h1 {
    font-size: 2.5rem;
  }

  .slider-content p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
  }

  p{
    font-size: 1rem;
    text-wrap: balance;
  }

  .toColumn {
    flex-direction: column;
  }

  .mCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wm100 {
    width: 100%;
  }

  .section {
    padding: 50px 20px;
  }

  .boxed {
    max-width: 90%;
  }

  .flex.space-between {
    flex-direction: column;
  }

  .realisation {
    margin-bottom: 20px;
  }
}

.competences {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espace entre chaque bloc de compétence */
  justify-content: center; /* Centre les blocs horizontalement */
  align-items: center; /* Centre les blocs verticalement si nécessaire */
}


.competence {
  background-color: black; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 10px 15px; /* Espace interne du bloc */
  border-radius: 5px; /* Coins arrondis */
  font-size: 1rem; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
  display: inline-block;
}

.aligncenter {
  align-items: center;
}


.ma-liste {
  list-style-type: none; /* Pour enlever les puces */
  padding: 0; /* Pour enlever le padding par défaut */
  text-align: center; /* Pour centrer le texte */
}


/* Section des expériences professionnelles */
#experience h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Container pour aligner les expériences en colonnes */
.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Style pour chaque expérience */
.experience {
  flex: 1 1 300px;
  color: #e0e0e0;
  text-align: left;
  max-width: 300px;
}

/* Titre de chaque expérience */
.experience h3 {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Style pour la date et le lieu */
.experience .date, .experience .location {
  font-weight: bold;
  font-size: 0.9em;
  margin: 5px 0;
  color: #b0b0b0;
}

/* Marges entre les descriptions */
.experience p {
  margin: 5px 0;
  font-size: 0.95em;
}

/* Section de la formation */
#education h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Container pour les éléments de formation en colonnes */
.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Style pour chaque élément de formation */
.education-item {
  flex: 1 1 300px;
  color: #e0e0e0;
  text-align: left;
  max-width: 300px;
}

/* Titre de chaque formation */
.education-item h3 {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Style pour la date et le lieu */
.education-item .date-location {
  font-weight: bold;
  font-size: 0.9em;
  margin: 5px 0;
  color: #b0b0b0;
}

/* Style pour les listes des compétences et projets */
.education-item ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.education-item li {
  font-size: 0.95em;
  margin: 5px 0;
}
